<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>問題2</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="CSS/style.css">
</head>
<body>
  <div class="wrap">
    <header class="header">ヘッダー</header>
    <div class="container">
      <main class="main">メインコンテンツ</main>
      <left_side class="left_side">サイドメニュー1</left_side>
      <right_side class="right_side">サイドメニュー2</right_side>
    </div>
    <footer class="footer">フッター</footer>
  </div>
</body>
</html>