<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>問題3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <!-- リセットCSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" href="CSS/style.css" />
  </head>
  <body>
    <div class="wrap">
      <header class="header">ロゴ画像</header>
      <main>
        <div class="left_side_bar">
          <ul class="left_side_list">
            <li class="list1"><a href="#" class="link">Home</a></li>
            <li class="list1"><a href="#" class="link">News</a></li>
            <li class="list1"><a href="#" class="link">Contact</a></li>
            <li class="list1"><a href="#" class="link">About</a></li>
          </ul>
        </div>
        <div class="center_bar">
          <div class="center_top_bar">
            <ul class="center_top_list" style="list-style:disc;">
              <li class="list2">テキストテキストテキストテキスト</li>
              <li class="list2">テキストテキストテキストテキスト</li>
              <li class="list2">テキストテキストテキストテキスト</li>
              <li class="list2">テキストテキストテキストテキスト</li>
              <li class="list2">テキストテキストテキストテキスト</li>
            </ul>
          </div>
          <div class="center_midlle_bar">
            <h3>サブタイトル</h3>
            <ul class="product_list">
              <li class="list_p">Puroduct1</li>
              <li class="list_p">Puroduct2</li>
              <li class="list_p">Puroduct3</li>
              <li class="list_p">Puroduct4</li>
            </ul>
          </div>
          <div class="center_bottom_bar">
            <h3>サブタイトル</h3>
            <ul class="product_list">
              <li class="list_p2">Puroduct1</li>
              <li class="list_p2">Puroduct2</li>
              <li class="list_p2">Puroduct3</li>
              <li class="list_p2">Puroduct4</li>
            </ul>
          </div>
        </div>
        <div class="right_side_bar">バナー画像</div>
      </main>
      <footer class="footer">
        Copyright(C) 2018 テキストテキストテキストテキスト
      </footer>
    </div>
  </body>
</html>
